@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply dark:bg-darkBg text-[14px];
  color: rgb(99, 115, 129);
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.popover-shadow {
  -webkit-box-shadow: -1px 3px 25px 1px rgba(0, 0, 0, 0.41);
  box-shadow: -1px 3px 25px 1px rgba(0, 0, 0, 0.41);
}

.loader {
  display: block;
  position: relative;
  height: 12px;
  width: 80%;
  border: 1px solid #fff;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
}
.loader:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: #2754A7;
  animation: 6s prog ease-in infinite;
}

@keyframes prog {
  to {
    width: 100%;
  }
}
